* {margin: 0; padding: 0;}
.clearfix:after {
    content:”.”;
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {
	display:block;
	clear:both;
	}

body{
}


input {
    margin: 2px;
    padding: 2px;
}
form{
	 background-color: #F4F4F4;
	padding: 10px 5px 20px 10px;
    border-bottom: 1px solid;}

#error_message{
	display:none;
	color:red;
}
#instructions{display:block;padding-left: 20px;border-bottom: 1px solid black;font-family:Arial, Helvetica, sans-serif;background-color: #DDDDDD;}

#instructions_list{
	font-size: 15px;
    line-height: 25px;
}
#instructions_list > ul {
    margin-left: 20px;
}

#instructions > ul {
    margin-left: 15px;
}
#instructions_list li {
	padding-bottom: 2px;
}
/*the following is an adapted version of the CSS3 Family Tree  */
/*Now the CSS, */

.tree{
	float:left;
}
.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
/*end of code from css family tree*/
/*style for jail*/
.jail li a:hover, .jail li a:hover+ul li a {
	background: #ee6600; color: #000; border: 1px solid #94a0b4;
}
.jail li a:hover+ul li::after, 
.jail li a:hover+ul li::before, 
.jail li a:hover+ul::before, 
.jail li a:hover+ul ul::before{
	border-color:  #eea0b4;
}

.tree.jail a {
    background-color: #D3D3D3;
}
.first_jail_ul {
    float: left;
}
#results_area{
	margin-left:10px;
}
